*{
    margin: 0;
    padding: 0;
}
.container{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container .sub-container{
    display: flex;
    justify-content: space-between;
}
.container .sub-container a{
    margin: 0px 5px;
}
.container .sub-container a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.banner-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner-container .banner-images{
    position: relative;
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../styles/images/josh-berquist-_4sWbzH5fp8-unsplash.jpg');
    display: flex;
    justify-content: center;
}
.banner-container .banner-images .banner-images-text{
    position: absolute;
    bottom: 5px;
    z-index: 5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.banner-container .banner-images-text h1{
    color: rgb(168, 32, 8);
    margin-bottom: 10px;
}
.banner-container .banner-images-text h3{
    color: white;
    font-size: 0.9em;
    letter-spacing: 0.7px;
}
.carousel-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .carousel-slide {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .carousel-slide img {
    flex: 0 0 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .active {
    background-color: black;
  }
  
footer{
    width: 100%;
    background-color: rgb(187, 187, 187);
    display: flex;
    justify-content: center;
}
footer .footer-container{
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0px;
}
footer .container1, .container2 ,.container3{
    width: 33.3%;
}
footer .container1 h1 a{
    color: rgb(7, 27, 92);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
footer .container1 h2{
    background-color: green;
    width: fit-content;
    color: white;
    font-size: 0.8em;
    font-weight: normal;   
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 16px;
    border-radius: 16px;
    margin-top: 15px;
}
footer .container2 .sub-container{
    display: flex;
    flex-direction: column;
}
footer .container2 .sub-container a{
    text-decoration: none;
    color: #1b48dd;
    margin-bottom: 6px;
}
footer .container3 h1{
    text-align: center;
    color: rgb(168, 32, 8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 7px;
}
.footer-container .container3 p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}


  
  
  
  @media only screen and(max-width:281px){
    .container .sub-container a{
        font-size: 0.1em;
        margin: 0px;
    }
  }
  @media only screen and(max-width:413px){
    footer .container1, .container2 ,.container3{
        width: 100%;
    }
  }