*{
    margin: 0;
    padding: 0;
}
.container{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}
.container .sub-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .sub-container a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 26px 15px;
}
.container .sub-container a:hover{
  background-color: #1b48dd;
}
.container .logo{
  position: absolute;
  left: 30px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.container .logo a{
  text-decoration: none;
  color: white;
}

#page{
    background-color: #1b48dd;
    padding: 26px 15px;
}

.product-container h1{
    text-align: center;
    margin: 25px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 15, 124);
    margin: 20px 0px;
}
/* .product-container h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(168, 32, 8);
} */
.product-container .product-image{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product-image > div{
    height: 300px;
    width: 31.5%;
    padding: 10px;
    border: 1px solid black;
    position: relative;
}
.product-image > div img{
    height: 300px;
    width: 100%;
}
.product-image > div > div{
    position: absolute;
    background-color: #1b48dd;
    bottom: 20px;
    padding: 10px 50px;
    left: 30%;
    border: 2px solid rgb(168, 32, 8);
    border-radius: 5px;
    opacity: 0;
    transition:  opacity 0.3s;
}
.product-image  a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.product-image > div:hover .hover-text {
    opacity: 1;
  }
.product-container table, tr,td,th{
    border: 1px solid rgb(168, 32, 8);
    border-collapse: collapse;
    padding: 10px;
}
.product-container th{
    background-color: #8099e4;
    color:black;
}
.product-container table{
    width: 500px;
    margin: 40px  auto ;
}
.product-container td{
    color:black  ;
}
.product-container p{
    font-size: 1.3em;
    color: lightslategray;
    margin: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.pros-cons-container{
    width: 450px;
    margin: auto;
    display: flex;
}
.pros-cons-container .sub-div{
    padding: 20px;
    border: 1px solid black;
}
.pros-cons-container span{
    color:black;
}
.pros-cons-container ol li{
    color: black;
}
.product-container .note-container{
    background-color: rgb(44, 124, 44);
    padding: 10px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    margin: 20px 0px;
}
.price{
    width: 100%;
}
.price h3{
    color: rgb(168, 32, 8);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.3em;
}
.price .cont{
    width: fit-content;
    margin: auto;
    color: black;
    text-align: center;
}
footer{
    width: 100%;
    background-color: rgb(187, 187, 187);
    display: flex;
    justify-content: center;
}
footer .footer-container{
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0px;
}
footer .container1, .container2 ,.container3{
    width: 33.3%;
}
footer .container1 h1 a{
    color: rgb(7, 27, 92);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

footer .container1 h2{
    background-color: green;
    width: fit-content;
    color: white;
    font-size: 0.8em;
    font-weight: normal;   
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 16px;
    border-radius: 16px;
    margin-top: 15px;
}
footer .container1 h2 a{
  text-decoration: none;
  padding: 20px 10px;
  font-size: 20px;
  color: white;
}
footer .container2 .sub-container{
    display: flex;
    flex-direction: column;
}
footer .container2 .sub-container a{
    text-decoration: none;
    color: #1b48dd;
    margin-bottom: 6px;
}
footer .container2 .sub-container a:hover{
  color: rgb(168, 32, 8);;
}
footer .container3 h1{
    text-align: center;
    color: rgb(168, 32, 8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 7px;
}
.footer-container .container3 p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
